PORT=9000
DB_URI="mongodb://root:root@localhost:27017/bookapi?authSource=admin&w=1"
NODE_ENV="development"
JWT_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
FRONTEND_URL="http://localhost:3000"